* {
    padding: 0;
    /* margin: 0; */
    /* background-color: #edfeff; */
}

.content{
    display: grid;
    background-color: #edfeff;
    grid-template-columns: 1fr 4fr;
}

.side-bar{
    display: grid;
    background-color: #a0db8e;
    grid-row: 1 / 6;
}

.header-section{
    display: grid;
    grid-column: 2 / 3;
    background-color: #d3ffce;
}

.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.your-projects{
    display: grid;
    background-color: #ffff;
    grid-row: 1 / 3;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
}

.announcements {
    display: grid;
    background-color: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
}

.trends {
    display: grid;
    background-color: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
}

.cards{
    display: grid;
    grid-row: 1fr 3fr;
}

.your-projects .card{
    /* height: 200px; */
}